@page
@model GimasioFacil.App.Presentacion.Pages.EditarModel
@{
}
 <br>
<h2 class="text-info" style="text-align: center;">Editar Rutina</h2>

<div class="border">
    <form method="post">

      <input type="hidden" asp-for="ruti.Id">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="container" style="padding: 50px;">
           <div class="form -group" >
              <div class="row" >
                 <div class="col-sm 2" >
                    <label asp-for="ruti.NombreRutina">Nombre de la rutina</label>
                       
                      <div class="col-sm-4">
                        <input asp-for="ruti.NombreRutina"  class="form-control">
                      </div>
                      <span asp-validation-for="ruti.NombreRutina"  class="text-danger"></span>
                  </div>
              </div>

              <br><div class="form -group" >
              <div class="row" >
                 <div class="col-sm 2" >
                    <label asp-for="ruti.Descripcion">Descipcion</label>
                       
                      <div class="col-sm-4">
                        <input asp-for="ruti.Descripcion" class="form-control">
                      </div>
                      <span asp-validation-for="ruti.Descripcion" class="text-danger"></span>
                  </div>
              </div>


            <br><div class="form -group" >
              <div class="row" >
                 <div class="col-sm 2 ">
                    <input type="submit" value="Guardar" style="width:100px;height:40px" class="btn btn-primary form-control">
                       </div>
                       <div class="col-sm-2">
                        <a asp-page="/ListaRutina/Listas" style="width:100px;height:40px" class="btn btn-success form-control">Volver</a>
                       </div>
                      
                  </div>
              </div>




        </div>
    </form>


</div>