@page
@model GimnasioFacil.App.Presentacion.Pages.ListasModel
@{
    ViewData["Title"]="Rutinas";
}

<br>
<a asp-page="/ListaRutina/FormularioRutina" style="width:200px;height:40px" class="btn btn-success form-control">Crear Rutina</a>
<br><br><h2 class="text-info" style="text-align:center;">Lista Rutinas</h2>

<div class="border">
    <table class="table">
        <tr>
            <td>NOMBRE</td>
            <td>DESCRIPCION</td>
           

        </tr>
        <tr><td></td></tr>
        @foreach(var r in Model.listaRutina)
        {
            <tr>
                <td>@r.NombreRutina</td>
                <td>@r.Descripcion</td>
                <td>
                   <a type="button" asp-page="/ListaRutina/Editar" class="btn btn-secondary" asp-route-rutinaId=@r.Id>Editar</a>
                </td>
                <td>
                   <a type="button"  class="btn btn-danger" asp-route-rutinaId=@r.Id>Eliminar</a>
                </td>
            </tr>
        }





    </table>








</div>




