@page
@model GimnasioFacil.App.Presentacion.ListasModel
@{
    ViewData["Title"]="Nutricion";
}
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SALIR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaClientes/tablaClientes">CLIENTES</a>
                        </li>
<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaRutina/Listas">RUTINA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/ListaNutricion/Listas">NUTRICION</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<br>
<a asp-page="/ListaNutricion/FormularioN" style="width:200px;height:40px" class="btn btn-success form-control">Crear Nutricion</a>
<br><br><h2 class="text-info" style="text-align:center;">Lista Nutricion</h2>

<div class="border">
    <table class="table">
        <tr>
            <td>NOMBRE</td>
            <td>DESCRIPCION</td>
        </tr>
        <tr><td></td></tr>
        @foreach(var n in Model.listaNutricion)
        {
            <tr>
                <td>@n.NombreNutricion</td>
                <td>@n.Descripcion</td>
                 <td>
                   <a type="button" asp-page="/ListaNutricion/EditarN" class="btn btn-secondary" asp-route-nutricionId=@n.Id>Editar</a>
                </td>
                <td>
                   <a type="button"  class="btn btn-danger" asp-route-nutricionId=@n.Id >Eliminar</a>
                </td>
            </tr>
            
        }

    </table>

</div>