@page
@model GimnasioFacil.App.Presentacion.RegistroClientesModel
@{
    ViewData["Title"]="Registro";
}
    <h1>REGISTRO DE CLIENTES</h1>
    

<table class="table">
<tr>
    @foreach (var x in Model.listaEjercicios)
    {
       <td>@x</td> 
    }

    </tr>


    </table>
















    
    <form action="">
      <h3>Datos personales</h3>
      <br />
      <label>Nombres</label>
      <input type="text" />
      <br /><br />
      <label>Apellidos</label>
      <input type="text" />
      <br /><br />
      <label>E-mail</label>
      <input type="text" />
      <br /><br />
      <label>Telefono</label>
      <input type="text" />
      <br /><br />
      <label>Direccion</label>
      <input type="text" />
      <br /><br />
      <label>Contraseña</label>
      <input type="text" />
      <br /><br />

        <br />
        <h3>Tus Datos Fisicos</h3>
        <br />
        <label>Edad</label>
        <input type="text" />
        <br />
        <br />
        <label>Peso</label>
        <input type="text" />
        <br /><br />
        <label>Altura</label>
        <input type="text" />
        <br /><br />
        <button type="submit">Guardar</button>
      </form>
      <form>
      <h3>Editar mis Datos</h3>
      <label>Ingrese su Contraseña</label>
      <input type="text" />
      <br />
      <button type="submit">Enviar</button>
    </form>