@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">TE DAMOS LA BIENVENIDA A GIMNASIOFACIL.APP</h1>

</div> 
       <div class="col-sm-3">
                        <a asp-page="/ListaClientes/tablaClientes" style="width:100px;height:40px" class="btn btn-success form-control">Ingresar</a>
                       </div>
   